<div class="bgimg">
  <div class="topleft">
    <p>Workplace Legal</p>
    <%= image_tag('logo.png', class:"mainlogo") %>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
  </div>
  <div class="bottomleft">
    <p>Some text</p>
  </div>
</div>
