<div class="bgimg">
  <div class="topleft">
    <p>Workplace Legal</p>
  </div>
  <div class="logo">
    <%= image_tag('logo.png', class:"mainlogo") %>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
  </div>
  <div class="bottomleft">
    <%= fa_icon("twitter", class: "fa-2x") %>
    <%= fa_icon("linkedin", class: "fa-2x") %>
  </div>
</div>
