<div class="bgimg">
  <div class="topleft">
    <p>Workplace Legal</p>
  </div>
  <div class="logo">
    <%= image_tag('logo.png', class:"mainlogo") %>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
  </div>
  <div class="bottomleft">
    <%= link_to(fa_icon("twitter", class: "fa-2x"), "https://twitter.com/antophranco", data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
    <%= link_to(fa_icon("linkedin", class: "fa-2x"), "https://www.linkedin.com/in/antonio-f-urdaneta-92299a32/", data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
  </div>
</div>
